.particles-layer canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}

.particles-layer--interactive {
  pointer-events: none;
}

.particles-layer--interactive canvas {
  pointer-events: auto;
}
